{% extends 'bases/bases.html' %}

{% block content %}
    	<!-- Start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container box_1170">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Dashborad
					</h1>
					<p class="text-white link-nav"><a href="{% url 'blog:home' %}">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="archive.html">
							Statistique post</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<br>
	<br>
	<br>
<h1>pour le Dashbord </h1>
<br><br><br>
	<!-- Start main body Area -->
	
	<!-- Start main body Area -->
{% endblock content %}
    