{% extends 'bases/bases.html' %}

{% block content %}
    	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						username de l'user
					</h1>
					<p class="text-white link-nav"><a href="{% url 'blog:home' %}">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="{% url 'blog:element' %}">
							profile</a></p>
				</div>
			</div>
		</div>
	</section>
	<section class="fdb-block">
        <div class="container">
          <div class="row align-items-center pb-xl-5">
            <div class="col-12 col-md-7 col-xl-5">
              <h1>Nom complet</h1>
              <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 m-sm-auto mr-md-0 ml-md-auto pt-4 pt-md-0">
              <img alt="image" class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2018/01/06/09/25/hijab-3064633__340.jpg">
            </div>
          </div>
      
          <div class="row pt-5">
            <div class="col-12 col-sm-6 col-md-6">
              <h3><strong>Article Favoris</strong></h3>
              	<p>
					<ul>
						<li>
							<a href="#" class="justify-content-between align-items-center d-flex">
								<p>Techlology</p> <span>37</span>
							</a>
						</li>
						<li>
							<a href="#" class="justify-content-between align-items-center d-flex">
								<p>Lifestyle</p> <span>24</span>
							</a>
						</li>
						<li>
							<a href="#" class="justify-content-between align-items-center d-flex">
								<p>Fashion</p> <span>59</span>
							</a>
						</li>
						<li>
							<a href="#" class="justify-content-between align-items-center d-flex">
								<p>Art</p> <span>29</span>
							</a>
						</li>
						<li>
							<a href="#" class="justify-content-between align-items-center d-flex">
								<p>Food</p> <span>15</span>
							</a>
						</li>
						<li>
							<a href="#" class="justify-content-between align-items-center d-flex">
								<p>Architecture</p> <span>09</span>
							</a>
						</li>
						<li>
							<a href="#" class="justify-content-between align-items-center d-flex">
								<p>Adventure</p> <span>44</span>
							</a>
						</li>
						</ul>
					  Separated they live in Bookmarksgrove right at the coast of the Semantics, a large ocean.
				</p>
            </div>
      
            <div class="col-12 col-sm-6 col-md-6 pt-3 pt-sm-0">
              <h3><strong>Info du Compte</strong></h3>
                <p>
                    Nom <br>
                    Prenom <br>
                    etc... <br>
					A small river named Duden flows by their place and supplies it with the necessary regelialia. <br><br>

					<a href="{% url 'blog:modif_profil' %}">
						<button type="button" class="btn btn-outline-primary">Modifier votre profil</button>
						
					</a>
                </p>
            </div>
          </div>
        </div>
      </section>
	<!-- End banner Area -->

	
	<!-- End Align Area -->
{% endblock content %}
    