{% extends 'bases/bases.html' %}

{% block content %}
    	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						username de l'user
					</h1>
					<p class="text-white link-nav"><a href="{% url 'blog:home' %}">Home </a>
						<span class="lnr lnr-arrow-right"></span> <a href="{% url 'blog:element' %}">
							profile</a></p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<br>
		<br>
		<h1>pour la pages profile </h1>
		<br>
		<br>
	</section>
	<!-- End banner Area -->

	
	<!-- End Align Area -->
{% endblock content %}
    