{% extends 'bases/bases.html' %}

{% block content %}
    	<!-- Start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container box_1170">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Voir plus +
					</h1>
					<p class="text-white link-nav"><a href="{% url 'blog:home' %}">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="#">
						Views</a></p>
				</div>
			</div>
		</div>
	</section>
	<div class="col-lg-12 post-list mt-4">
        <!-- Start Post Area -->
        <section class="post-area">
            <div class="row">
                {% for item in allartiacle %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="{{ item.photo.url }}" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">{{ item.titre }}</a>
                        </h3>
                        <p>{{ item.description }}</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">{{ item.categorie_id }}</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c4.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c1.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c5.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c8.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c2.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c4.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c4.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c4.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c4.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-post-item short">
                        <figure>
                            <img class="post-img img-fluid" src="/static/img/archive/c4.jpg" alt="">
                        </figure>
                        <h3>
                            <a href="blog-details.html">It’s hurricane season but we are
                                visiting hilton head island</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                        <a href="blog-details.html" class="primary-btn text-uppercase mt-15">continue Reading</a>
                        <div class="post-box">
                            <div class="d-flex">
                                <div>
                                    <a href="#">
                                        <img src="/static/img/author/a1.png" alt="">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <div class="meta-head">
                                        <a href="#">Marvel Maison</a>
                                    </div>
                                    <div class="meta-details">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-calendar-full"></span>
                                                    13th Oct, 2018
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="lnr lnr-bubble"></span>
                                                    03
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-12" id="apps">
                    <!-- <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-arrow-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-arrow-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div> -->

                <nav aria-label="Page navigation example" style="margin-left: 40%;">
                    <ul class="pagination">
                        {% if allartiacle.has_previous %}
                        <a class="page-link" href="?page={{ allartiacle.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% endif %}
        
                        {% for num in allartiacle.paginator.page_range %}
                        {% if allartiacle.number == num %}
                        <a class="page-link" href="?page={{ allartiacle.number }}">{{ allartiacle.number }}</a>
                        <span class="page-link" >Sur</span>
                        <a class="page-link" href="?page={{  allartiacle.paginator.num_pages }}">{{ allartiacle.paginator.num_pages }}</a>
                        {% endif %}
                        {% endfor %}
                        
                        {% if allartiacle.has_next %}
                        <a class="page-link" href="?page={{ allartiacle.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        {% endif %}
                        
                    </ul>
                
                    <!-- <ul>
                        <li v-for="article in data_all_articles"> ${ article.node.titre }</li>
                    </ul>
                    <v-paginator :base_url="base_url" @update="updateResource"></v-paginator> -->
                </nav>
                </div>
        </section>
        <!-- Start Post Area -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/vuejs-paginator/2.0.0/vuejs-paginator.min.js"></script>
	<!-- Start main body Area -->
{% endblock content %}

{% block vue %}
<script>
var app = new Vue({
    el: '#apps',
    data: {
        loader: true,
        content:false,
        base_url:"",
        data_all_category:[],
        data_all_articles:[]
    },
    delimiters: ["${","}"],
    mounted(){
        this.getdata()
    },
    components: {
        VPaginator: VuePaginator
    },
    methods: {
        getdata: function(){
            this.base_url = 'http://127.0.0.1:8000/'
            console.log('data getting')
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            

            axios({
                url: this.base_url + 'graphql',
                method: 'post',
                data: {
                    query: `
                    query{
							allArticles {
								edges {
								node {
									titre
									titreSlug
									photo
									categorieId {
									titre
									id
									}
									dateAdd
									description
									commentaires{
									totalCount
									}
									likes{
									totalCount
									}
								}
								}
							},
							allCategories{
								edges{
								node{
									id
									titre
									image
									articles {
									totalCount
									}
								}
								}
							}
						}
                    `
                }
            })
            .then(response => {
                result = response.data.data
                this.data_all_category = result.allCategories.edges
				this.data_all_articles = result.allArticles.edges
                console.log(this.data_all_category)
				console.log(this.data_all_articles)
            })
            .catch((err) => {
                console.log(err);
            })
        },
    }
})
</script>
{% endblock vue %}
    